@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;0,900;1,700&display=swap");
img {
  width: 30%;
  height: 300px;
  float: left;
  object-fit: cover;
  margin: 1.66%;
  transition: ease-in-out 0.5s;
}

img:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

p {
  font-family: "Raleway", sans-serif;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 2px solid #f1f1f1;
  width: 30%;
  padding-bottom: 20px;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 100;
  text-transform: none;
  text-align: center;
  width: 100%;
}

.nav-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: black !important;
}

.nav-link:hover {
  text-decoration: underline !important;
}
